/* =============================================================================
 * --          INSITU COLORS                                                  --
 * =============================================================================
 *                                       http://www.0to255.com/original_color -2
 * #783F34  :: primary color (Old Copper)                         hover: #60332a
 * #ffcf87  :: secondary color (light yellow)                     hover: #ffc165
 * #EFE7E3  :: light (bg gray yellow)
 *
 * Colors from original logos:
 * ===========================
*                              http://www.0to255.com/original_color -3
 * Marine:     #32639F hover: #264b78
 * Atmosphere: #66CDE2 hover: #3bbfda
 * Land:       #A7BE0F hover: #7d8f0b
 * Security:   #538585 hover: #3f6666
 * Emergency:  #F89C2C hover: #e98408
 * Climate:    #8E1636 hover: #620f25
 *
 * =============================================================================
 */

body {
  background: #FFFFFF;
}

.insitu-bg-primary {
  background: #783F34;
}

.insitu-bg-secondary {
  background: #ffcf87;
}

.insitu-bg-light {
  background: #EFE7E3;
}

.insitu-bg-default {
  background: #FFFFFF;
}
