/* =============================================================================
 * --          INSITU COLORS                                                  --
 * =============================================================================
 *                                       http://www.0to255.com/original_color -2
 * #783F34  :: primary color (Old Copper)                         hover: #60332a
 * #ffcf87  :: secondary color (light yellow)                     hover: #ffc165
 * #EFE7E3  :: light (bg gray yellow)
 *
 * Colors from original logos:
 * ===========================
*                              http://www.0to255.com/original_color -3
 * Marine:     #32639F hover: #264b78
 * Atmosphere: #66CDE2 hover: #3bbfda
 * Land:       #A7BE0F hover: #7d8f0b
 * Security:   #538585 hover: #3f6666
 * Emergency:  #F89C2C hover: #e98408
 * Climate:    #8E1636 hover: #620f25
 *
 * Proportions
 * ===========
 * X = 40px
 * 40, 80, 120, 160, 200, 240
 * =============================================================================
 */

/* === GENERAL STYLES =========================================================*/
body {
  background: #FFFFFF;
  font-size: 16px;
  color: #333333;
}

a {
  color: #783F34;
  text-decoration: none;
}

a:hover {
  color: #60332a;
  text-decoration: none;
}

ol li, ul li {
  margin-bottom: 10px;
}

blockquote p {
  font-weight: bold;
}

.insitu-bg-primary {
  background: #783F34;
}

.insitu-bg-secondary {
  background: #ffcf87;
}

.insitu-bg-light {
  background: #EFE7E3;
}

.insitu-bg-default {
  background: #FFFFFF;
}

.insitu-bg-transparent {
  background: transparent;
}

.insitu-bg-test {
  background: red;
}

.insitu-layer-1 {
  position: relative;
  z-index: 1;
}

.insitu-layer-2 {
  position: relative;
  z-index: 2;
}

.insitu-layer-3 {
  position: relative;
  z-index: 3;
}

.insitu-layer-4 {
  position: relative;
  z-index: 4;
}

.insitu-layer-5 {
  position: relative;
  z-index: 5;
}

.insitu-layer-6 {
  position: relative;
  z-index: 6;
}

.insitu-layer-7 {
  position: relative;
  z-index: 7;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}


/* === HEADER =================================================================*/
#insitu-header .insitu-layer-1.insitu-bg-default {
  height: 240px;
}

#insitu-header .insitu-layer-2.insitu-bg-primary {
  height: 80px;
  top: 80px;
}

#insitu-header .insitu-layer-3.insitu-bg-default {
  height: 120px;
  width: 70%;
  top: -80px;
  left: 120px;
  border-bottom: 5px solid #ffcf87;
}

#insitu-header .insitu-layer-3.insitu-bg-default:after {
  transform-origin: left bottom;
  transform: skew(135deg);
  position: absolute;
  background: #FFFFFF;
  right: 3px;
  left: 0px;
  content: '';
  bottom: 0;
  top: 0;
}

#insitu-header .insitu-layer-3.insitu-bg-default:before {
  transform-origin: left bottom;
  transform: skew(135deg);
  position: absolute;
  background: #ffcf87;
  right: 0;
  left: 30px;
  content: '';
  bottom: -4px;
  top: 0;
}

#insitu-header .insitu-layer-4.insitu-bg-default {
  height: 120px;
  width: 0%;
  top: 120px;
}

#insitu-header .insitu-layer-4.insitu-bg-default:before {
  transform-origin: left bottom;
  transform: skew(135deg);
  position: absolute;
  background: #ffcf87;
  right: 133px;
  left: -500px;
  content: '';
  bottom: -20px;
  top: -5px;
}

#insitu-header .insitu-layer-4.insitu-bg-default:after {
  transform-origin: left bottom;
  transform: skew(135deg);
  position: absolute;
  background: #FFFFFF;
  right: 140px;
  left: -500px;
  content: '';
  bottom: -20px;
  top: -45px;
}

#insitu-header .insitu-layer-5.insitu-bg-default {
  top: -220px;
  left: 120px;
  width: 50%;
}

#insitu-header .insitu-layer-5.insitu-bg-default img {
  height: 70px;
  margin-right: 20px;
}

#insitu-header .insitu-layer-6.insitu-bg-default {
  color: #FFFFFF;
  top: -202px;
  right: 135px;
}

.insitu-layer-7.insitu-bg-default {
  top: -166px;
  margin-left: 80px;
}

.insitu-layer-7.insitu-bg-default table {
  width: 90%;
}

.insitu-layer-7.insitu-bg-default img {
  display: inline-block;
  height: 70px;
  margin-right: 20px;
}

.insitu-layer-7.insitu-bg-default h2 {
  display: inline-block;
  position: relative;
  color: #783F34;
  margin-top: 0px;
  font-weight: bold;
}

.insitu-layer-7.insitu-bg-default h3 {
  display: inline-block;
  position: relative;
  color: #783F34;
  margin-top: 0px;
}

#insitu-header a:hover {
  text-decoration: none;
}


/* === FOOTER =================================================================*/
#insitu-footer {
  position: relative;
  padding-top: 100px;
  overflow: hidden;
}

#insitu-footer .top,
#insitu-footer .bottom {
  position: relative;
  height: 40px;
}

#insitu-footer .bottom {
  margin-top: 5px;
}

#insitu-footer .top::before {
  transform-origin: left top;
  transform: skew(45deg);
  position: absolute;
  background: #783F34;
  height: 50px;
  width: 280px;
  content: '';
  top: 100%;
  right: 0;
}

#insitu-footer .bottom:before {
  transform-origin: right bottom;
  transform: skew(45deg);
  position: absolute;
  background: #ffcf87;
  height: 160px;
  bottom: 100%;
  width: 120px;
  content: '';
  left: 0;
}

#insitu-footer .top::after,
#insitu-footer .bottom::after {
  transform-origin: left bottom;
  transform: skew(45deg);
  position: absolute;
  background: #783F34;
  right: -100px;
  left: 122px;
  content: '';
  bottom: 0;
  top: 0;
}

#insitu-footer .bottom:after {
  transform-origin: right bottom;
  background: #ffcf87;
  right: 242px;
  left: -100px;
}

#insitu-footer .insitu-layer-2.insitu-bg-transparent {
  top: 10px;
  right: 60px;
  float: right;
}

#insitu-footer .insitu-layer-2.insitu-bg-transparent a {
  color: #FFFFFF;
  text-decoration: none;
}

.insitu-footer-container .insitu-footer-content {
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 40px;
  position: relative;
  bottom: -100px;
}

.insitu-footer-container .insitu-footer-content .insitu-images {
  margin-bottom: 10px;
}

.insitu-footer-container .insitu-footer-content .insitu-images img {
  margin-right: 10%;
}

.insitu-footer-container .insitu-code-img {
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
  max-height: 120px;
  margin-left: 10px;
}

.insitu-footer-container .insitu-text .small {
  color: #666666;
  width: 75%;
}

/* === MAIN CONTENT ===========================================================*/
#insitu-main-content {
  position: relative;
  margin-bottom: -50px;
}

img.img-responsive {
  margin-bottom: 10px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.insitu-header-container .col-lg-12,
.insitu-header-container .col-md-12,
.insitu-header-container .col-sm-12,
.insitu-header-container .col-xs-12,
.insitu-footer-container .col-lg-12,
.insitu-footer-container .col-md-12,
.insitu-footer-container .col-sm-12,
.insitu-footer-container .col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid.insitu-content-container {
  padding-left: 40px;
  padding-right: 40px;
}

.container-fluid.insitu-bg-primary.insitu-section-marker {
  color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.container-fluid.insitu-bg-primary.insitu-section-marker h3 {
  position: relative;
  top: -10px;
}

.container-fluid.insitu-bg-primary.insitu-section-marker:after {
  content:'';
  position: absolute;
  left: 50%;
  margin-top: -10px;
  margin-left: -30px;
  width: 0;
  height: 0;
  border-top: solid 20px #783F34;
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

.insitu-box-1 {
  border: 2px solid #ffcf87;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(235,235,235,1);
  -moz-box-shadow: 5px 5px 2px 0px rgba(235,235,235,1);
  box-shadow: 5px 5px 2px 0px rgba(235,235,235,1);
  color: #666666;
  margin-bottom: 20px;
}

.insitu-box-1 strong {
  color: #333333;
}

.insitu-subsection-title {
  margin-top: 40px;
  font-weight: bold;
}

.insitu-box-2 {
  background: #EFE7E3;
  padding: 10px;
  margin-bottom: 40px;
}

.insitu-box-2 table td {
  padding: 5px;
}

.insitu-box-2 table td img {
  max-width: 100%;
}


/* === RESPONSIVITY ===========================================================*/

/* --- EXTRA SMALL ------------------------------------------------------------*/
@media (max-width:768px) {
  #insitu-main-content {
    top: -150px;
  }

  #insitu-header .insitu-layer-6.insitu-bg-default {
    right: 140px;
  }

  #insitu-header .insitu-layer-6.insitu-bg-default h3 {
    font-size: 12px !important;
    position: relative;
    top: 25px;
    right: -80px;
  }

  #insitu-header .insitu-layer-5.insitu-bg-default img {
    height: 50px;
    margin-right: 20px;
    position: relative;
    top: 10px;
  }

  .insitu-footer-container .insitu-footer-content .insitu-images img {
    margin-right: 2%;
    height: 50px;
    margin-bottom: 10px;
  }
}

/* --- SMALL ------------------------------------------------------------------*/
@media (min-width:768px) and (max-width:992px) {
  #insitu-main-content {
    top: -150px;
  }

  #insitu-header .insitu-layer-6.insitu-bg-default {
    right: 80px;
  }

  #insitu-header .insitu-layer-6.insitu-bg-default h3 {
    font-size: 16px !important;
    position: relative;
    top: 5px;
  }

  .insitu-footer-container .insitu-footer-content .insitu-images img {
    max-width: 200px;
    margin-right: 2%;
  }
}

/* --- MEDIUM ------------------------------------------------------------------*/
@media (min-width:992px) and (max-width:1200px) {
  #insitu-main-content {
    top: -120px;
  }

  #insitu-header .insitu-layer-6.insitu-bg-default {
    right: 105px;
  }

  .insitu-footer-container .insitu-footer-content .insitu-images img {
    max-width: 200px;
  }
}

/* --- LARGE --------------------------------------------------------------------*/
@media (min-width:1200px) {
  #insitu-main-content {
    top: -120px;
  }

  .insitu-footer-container .insitu-footer-content .insitu-images img {
    max-width: 200px;
  }
}
